torch==1.1.0
torchvision==0.2.2
mmcv==0.2.10
Flask==1.0.2
numpy==1.16.2
pandas==0.24.2
Sphinx==2.0.1
sphinx-autodoc-typehints==1.6.0
flask-restplus==0.12.1
sphinx-rtd-theme==0.4.3
celery==4.3.0
redis==3.3.6
pymediainfo==4.0
boto3==1.9.199
