TORCH_HOME=/model
DEBUG=
CLASSIFICATION_MODEL=resnet18-102
CLASSIFICATION_MODEL_PRIO=resnet18-prio-refined
DETECTION_MODEL=ssd
BASE_MODEL_PATH=/model
DETECTION_THRESHOLD=0.4
AWS_ACCESS_KEY_ID=123
AWS_SECRET_ACCESS_KEY=123
REGION=xx-west-1
